server:
  port: 8201

spring:
  application:
    name: gateway
  redis:
    host: ${REDIS_HOST:127.0.0.1}
    port: ${REDIS_PORT:6379}
    timeout: 5000 #连接超时 毫秒
    jedis:
      pool:
        maxActive: 3
        maxIdle: 3
        minIdle: 1
        maxWait: -1 #连接池最大等行时间 -1没有限制
  cloud:
    sentinel:
      transport:
        dashboard: ${SENTINEL_DASHBOARD:localhost:8080}
        port: ${SENTINEL_PORT:8719}
      scg:
        fallback:
          mode: response
          response-status: 200
          response-body: '{"code": 455, "message": "sentinel error!", "data": null}'
          content-type: application/json
      datasource:
        ds1:
          file:
            file: classpath:flowrule.json
            data-type: json
            rule-type: flow
      eager: true # 是否提前触发 Sentinel 初始化,使用持久化动态规则必须开启
    gateway:
      enabled: true
      discovery:
        locator:
          enabled: true # 开启从注册中心中动态注册路由
          lower-case-service-id: true
      routes:
        - id: auth
          uri: lb://AUTH
          predicates:
            - Path=/v1/auth/**
          filters:
            - StripPrefix=2

        - id: feature
          uri: lb://FEATURE
          predicates:
            - Path=/v1/feature/**
          filters:
            - StripPrefix=2

        - id: zuul
          uri: lb://ZUUL
          predicates:
            - Path=/v1/zuul/**
          filters:
            - StripPrefix=2

        - id: admin
          uri: lb://ADMIN
          predicates:
            - Path=/v1/admin/**
          filters:
            - StripPrefix=2

        - id: insight
          uri: lb://INSIGHT
          predicates:
            - Path=/v1/insight/**
          filters:
            - StripPrefix=2
            - Result

        - id: axe
          uri: lb://AXE
          predicates:
            - Path=/v1/axe/**
          filters:
            - StripPrefix=2
            - Result

        - id: remote
          uri: lb://REMOTE
          predicates:
            - Path=/v1/remote/**
          filters:
            - StripPrefix=2
            - Result

        - id: report
          uri: lb://REPORT
          predicates:
            - Path=/v1/report/**
          filters:
            - StripPrefix=2
            - Result

        - id: grow-analytics-log-server
          uri: lb://GROW-ANALYTICS-LOG-SERVER
          predicates:
            - Path=/v1/grow-analytics-log-server/**
          filters:
            - StripPrefix=2
            - Result

eureka:
  instance:
    prefer-ip-address: true # 使用IP进行注册
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

ribbon:
  ReadTimeout: 5000 # 建立连接后读取资源过期时间
  ConnectTimeout: 5000 # 建立连接过期时间

logging:
  level:
    com.mars.consumeruser.service.TicketFeignService: debug

# 自定义jwt key
jwt:
  projectHeader: ga_project_id
  tokenHeader: Authorization #JWT存储的请求头
  pubKey: -----BEGIN PUBLIC KEY-----MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAk2ULSmOH2ZdkYFeUCm7wKHolHfp36NVJogt0ZucT/DLp4PVEYdBtl8JrTVCoi4CToPfTOXvKvsXm5Cbt/OQfEWA92HXSv2VJRx55kqTswh0qsATKBXqH2XQRinkuxrYOV9KDYf4hHpXTjVHtirTG4LDF91FFXMwxzvyx/8g0ZfEGOzA6O/YMz3teGLjbMqbWP/cYyvagIS6fKQvy6vmFh1+azj/YkwFIKnZcqf4+fz6d4FMMKjXf5BcCF9DxiSxc65n4myIpsEvdvwDjucEG24rxW1YAKyBfiDDrND7lCTM/jHCx/rI/lLi6PUDx/R1AaTrRLUCATaFOS+73PCXAWQIDAQAB-----END PUBLIC KEY-----
  sdkTokenHeader: SdkAuthorization #sdk的token携带参数
  sdkPubKey: -----BEGIN PUBLIC KEY----- MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA63RCCWPGq01eiBJIhMlP 1IAxtfPg2bjQHH6zbkjnyAouit6WUf2dpppQs50WkCjrkdjMBLpOznuOUYImoQgG qLU7JN0kM5bkL5bG86op0TEbLtjZDKM+ZX8YJ5TpKhjgMgpISkbKpSpbhKHeu0Kt DtQ6w/ihZsNvMSAfWTWcsrZ8ZAz3bvkCUCSOS26XahoDQmjtao1ghj0cNjTz1os0 S0+ZQFJ/tO8RaEflHuMlsscGftsZiG/JD2c8E10i8TjSCCGWwHX5MDk81klDBrcb iallJZkvqyxqsfcn+YInQUmfaPHQ57MHce8oL78J+Z48VDQGU/T8cBAzUhY6Ijg0 qwIDAQAB-----END PUBLIC KEY-----

management:
  endpoints:
    web:
      exposure:
        include: "*"
