server:
  port: 8100
spring:
  application:
    name: auth
  redis:
    host: ${REDIS_HOST:127.0.0.1}
    port: ${REDIS_PORT:6379}
    timeout: 5000 #连接超时 毫秒
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://192.168.10.143:3306/oauth2?serverTimezone=UTC&characterEncoding=utf-8&useSSL=false}
    username: root
    password: tuyou@123game
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update # 更新或创建数据表
    show-sql: true # 打印sql
    open-in-view: true

# 加密证书
keystore:
  keystore: ga.jks
  keystorePassword: tuyoostore
  alias: gakey

## auth
management:
  endpoints:
    web.exposure.include: "*"

eureka:
  instance:
    prefer-ip-address: true # 使用IP进行注册
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
