server:
  port: 8004

spring:
  mail:
    host: smtp.mxhichina.com
    username: analytics@tuyoogame.com
    password: Grow@123
    default-encoding: utf-8
  servlet:
    multipart:
      max-request-size: 500MB
      max-file-size: 500MB
  application:
    name: admin
  datasource:
    url: ${MYSQL_URL:jdbc:mysql://127.0.0.1:3306/ga_system?serverTimezone=UTC&characterEncoding=utf-8&useSSL=false}
    username: ${MYSQL_USERNAME:root}
    password: ${MYSQL_PASSWOR:123456}
    driverClassName: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update # 更新或创建数据表
    show-sql: true # 打印sql
    open-in-view: true

eureka:
  instance:
    prefer-ip-address: true # 使用IP进行注册
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

feign:
  hystrix:
    enabled: true

minio:
  host: http://47.95.216.127:9005
  accessKey: tuyoo
  secretKey: tuyougame
  bucketName: web

ga:
  roleId: 16 # ROLE_GA_WEB 允许登陆的角色ID
  roleName: ROLE_GA_ADMAIN # 管理员的角色名
  clientId: net5ijy
  clientSecret: y4cZe@wmGBofIlQ
  permission:
    - id: admin
      name: 授权管理员权限
      children:
        - id: is_access_game
          name: 从该账户添加或删除APP
          is_own: false
        - id: is_distribute
          name: 添加或编辑团队成员
          is_own: false
        - id: page_sit
          name: 编辑应用设置页面
          is_own: false
        - id: edit_preset_overview
          name: 创建和编辑预置概览
          is_own: false
    - id: data
      name: 授权数据权限
      children:
        - id: daily_table
          name: 日常报表
          is_own: false
        - id: analysis_tool
          name: 分析工具
          is_own: false
        - id: config
          name: 配置
          is_own: false
    - id: game
      name: 游戏相关权限
      children:
        - id: is_auto
          name: 包含后续添加的所有应用
          is_own: false
